{% extends 'base.html' %}

{% block title %}Add Product{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <h2 class="mb-4">Add New Product</h2>
            <div class="card p-4">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        {{ form.name }}
                        {% for e in form.name.errors %}<div class="text-danger small">{{ e }}</div>{% endfor %}
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Description</label>
                        {{ form.description }}
                        {% for e in form.description.errors %}<div class="text-danger small">{{ e }}</div>{% endfor %}
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Price</label>
                            {{ form.price }}
                            {% for e in form.price.errors %}<div class="text-danger small">{{ e }}</div>{% endfor %}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Stock</label>
                            {{ form.stock }}
                            {% for e in form.stock.errors %}<div class="text-danger small">{{ e }}</div>{% endfor %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                           <label class="form-label">
                           Unit (e.g., pcs, meter, m², m³)
                                </label>

                            {{ form.unit }}
                            {% for e in form.unit.errors %}<div class="text-danger small">{{ e }}</div>{% endfor %}
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Image (optional)</label>
                        {{ form.image }}
                        {% for e in form.image.errors %}<div class="text-danger small">{{ e }}</div>{% endfor %}
                    </div>

                    <button class="btn btn-primary w-100 mt-3" type="submit">Add Product</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
